body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    align-items: center;
    background-color: azure;
}

.nome {
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.nome_quadrado {
    width: 1em;
    height: 1em;
    background-color: #0050FF;
    margin-right: 0.5em;
    flex-shrink: 0;
}

.nome_principal {
    font-size: 1.5rem;
    font-weight: 700;
    color: #222;
}

.nome_cargo {
    font-size: 1.3rem;
    color: #777;
    font-weight: 400;
    margin-left: 0.5em;
}

.nome__cargo span {
    letter-spacing: 0.5px;
}

.about-me {
    display: flex;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.nav-bar a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.nav-bar a p {
    margin: 0;
}

.nav-bar a:hover{
    font-size: large;
    background-color: #e6dace;
    padding: 5px;
    border-radius: 5px;
}

.bg {
    display: flex;
    align-items: center;
}

.bg-left {
    display: flex;
    padding: 10px;
    width: 35%;
    min-width: 400px;
    min-height: 75vh;
    background-color: #e6dace;
    flex-shrink: 0;
    ;
}

.bg-right {
    flex-grow: 1;
    min-height: 75vh;
    background-color: #ffffff;
}

.main-card {
    margin-top: -75vh; /*puxa o card pra cima!!*/
    margin-left: auto;
    margin-right: auto;
    position: relative; /*tem que ter isso para o z index - linha abaixo - funcionar*/
    z-index: 10;
    width: 600px;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.main-card:hover {
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.15);
    min-height: 500px;
}

.main-card-up {
   display: flex;
    width: 100%;
    flex-grow: 1; /*permite crescer indefinidamente*/
}

.main-card-up-left {
    display: flex;
    flex-direction: column;
    width: 50%;

    background-color: #F4ECE6;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.main-card-up-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    
    background-color: #ffffff;
    padding: 30px;
    box-sizing: border-box;
}

.main-card-down {
    height: 80px;
    
    /*rodape n pode ser espremido!! */
    flex-shrink: 0;

    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #f0f0f0;
}

.photo-me {
    margin-top: 15px;
    border-radius: 100%;
    width: 200px;
    transition: all 0.3s ease;
}

.photo-me:hover {
    width: 210px;
}

#nome_card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

hr {
    height: 1px;
    width: 40px;
    border: none;
    background-color: #0050FF;
}

#hello {
    font-size: 80px
}

.portfolio {
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    border-radius: 15px;
    background-color: #F4ECE6;
    padding: 5px;
    font-size: 13px;
    text-decoration: none;
    width: 80px;
    height: 20px;
    transition: all 0.3s ease;
}

.portfolio p{
    font-size: larger;
}

.portfolio:hover {
    width: 85px;
    height: 25px;
}

.portfolio-link{
    display: flex;
    width: auto;
    align-items: center;
}

.portfolio-link img{
    margin-top: 10px;
}

.main-card-down {
    height: 15%;
    background-color: #ffffff;
    
    display: flex;
    justify-content: center; /*centro horizontal*/
    align-items: center;   /*centro vertical*/
    
    border-top: 1px solid #f0f0f0;
}

.social-links {
    display: flex;
    gap: 25px; 
}

.social-links a img {
    width: 30px;
    height: 30px;
    transition: all 0.2s ease-in-out;
}

.social-links a:hover img {
    width: 35px;
    height: 35px;
    
    opacity: 0.7; /*um pouco de transparencia*/
}

.autores,
.main-card-up-right p {
    line-height: 1.6;
    color: #555;
    margin-top: 20px;
}

.autores a {
    text-decoration: none;
    color: #0050FF;
    font-weight: 600;
    transition: all 0.2s ease;
}

.autores a:hover {
    color: #002B8A;
}